[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "delimitMate"]
	path = delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "golden-ratio"]
	path = golden-ratio
	url = https://github.com/roman/golden-ratio.git
